.nav-link{
  float: left;
  margin:auto;
  padding:15px;
  font-size:15px;
  background-color: #16542e;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  border: 1.5px solid white;
 }

 .nav-link a:hover{
  background-color: white;
  color: #16542e;
  border: 1.5px solid #16542e;
 }
 
 .nav-link a:active{
  background-color: white;
  color: #16542e;
  border: 1.5px solid #16542e;
 }
