
 .nav-link{
  background-color: #16542e;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
  border: 1.5px solid white;
  float:left;
  padding:30px;
  font-size:20px;
  text-decoration:none;
 }

 .nav-item a:hover{
  background-color: white;
  color: #16542e;
  border: 1.5px solid #16542e;
 }
 
 .nav-item a:active{
  background-color: white;
  color: #16542e;
  border: 1.5px solid #16542e;
 }
