h3{
    color: #16542e;
    text-align: center;
  }
  
  .pass{
    background-color: #16542e;
    width: 450px;
    height: 385px;
    margin: auto;
  }
  
  .title{
    color: white;
    text-align: center;
    font-size: 23px;
    padding-top: 7px;
  }

  .name{
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
  }
  
  .teacher{
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
  }
  
  .location{
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
  }
  
  .date{
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-bottom: 1px;
    padding-left: 20px;
  }
  
  img{
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
  }
  
  .changepass a{
    text-align: center;
    margin: auto;
    width: 250px;
    display: block;
    margin-top: 20px;
    background-color: #8ea484;
    color: black;
    border: 2px solid #16542e;
    padding: 5px;
    font: 20px Graduate;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .changepass a:hover{
    background-color: #16542e;
    color: white;
    border: 2px solid white;
  }

  <style>
    :root {
      --atholton-green: #16542eff;
    }
    
    body {
      font-family: 'Graduate';
      font-size: 22px;
    }

    .btn{
      background-color:  #8ea484ff;
      border: 1px solid white;
      padding:  10px;
    }
 
    .btn:hover{  <!-- CSS -->

    :root {
      --atholton-green: #16542eff;
    }
    
    body {
      font-family: 'Graduate';
      background-color: white;
      transition: 0.7s;
    }

    div {}

    .spacing {}

    #pass-preview {
      background: white;
    }

    .modal-content {
        background: var(--atholton-green);
    }
    
    .form-popup {
      background-color: var(--atholton-green);
      display: none;
      height: 80%;
      margin: auto;
      outline: 5px dotted white;
      position: auto;
      width: 70%;
      border-style: solid;
      border-width: 20px;
      border-color: var(--atholton-green);
    }

    h1 {
      background: transparent;
      color: white;
      margin-top: 7%;
      text-align: center;
    }

    h2 {
      background: transparent;
      color: white;
      margin: 2%;
      text-align: center;
    }

    h3 {
      background: transparent;
      color: white;
      font-family: Calibri;
      margin: 5%;
      text-align: center;
    }

    h4 {
      background: white;
      color: #16542E;
      font-weight: bold;
      margin-top: 10%;
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      max-width: 100%;
      height: auto;
    }

    option {
      background: white;
      font-family: Calibri;
      font-size: 15px;
    }

    p {
      background: white;
      color: #16542E;
      font-family: Calibri;
    }

    select {
      background: white;
      font-family: Calibri;
      font-size: 18px;
      margin-bottom: 2%;
      margin-left: 25%;
      padding: 3px;
      width: 50%;
    }

    ul {
      list-style-type: none;
      background: white;
    }

    li {
      background: white;

    }

    li span {
      display: inline-block;
      background: white;
    }

    #title {
      margin-top: 8%;
    }

    #student {
      font-family: Calibri;
    }
