.welcomebox{
    background: #16542e;
    padding:  1%; 
    text-align: center;
    text-decoration-color: white;
    margin:  auto;
    margin-top: 10vh !important;
    border-radius: 20px;
  }
  
  .welcomebox p{
    margin-top: 1%;
    color: white;
    text-align: center;
  }

  h1{
    text-shadow: -1px 1px 0 white,
                  1px 1px 0 white,
                  1px -1px 0 white,
                  -1px -1px 0 white; 
  }
  h2{
    text-shadow: -1px 1px 0 white,
                  1px 1px 0 white,
                  1px -1px 0 white,
                  -1px -1px 0 white; 
  }
  
  .btn{
    background-color:  #8ea484ff;
    border: 1px solid white;
    padding:  10px;
  }

  .btn:hover{
    background-color:white;
    transition: 0.7s;
  }

  .needHelp{
    background: #16542e;
    padding: 5px;
    text-align: center;
    text-decoration-color: white;
    margin:  auto;
    margin-top: 0.5%;
    font-size: 20px;
    color: white;
    font-family: 'Graduate';
    border-radius: 10px;
  }
  .nav-link{
    display: inline;
    text-align: center;
    margin:  auto;
    margin-top: 0.5%;
    font-family: 'Calibri';
    font-size: 20px;
    color: white;
    border-radius: 10px;
  }
