.faq{
  border: 5px solid #16542e; 
  padding:25px;
 }
.faqHeader{
   text-align: center;
   color: #16542e;
   font-family: Graduate;
 }
 .accordion-button{
   background-color: #8ea484;
   color: black;
   font: 20px Calibri;
   border: none;
   cursor: pointer;
   text-align: left;
   padding: 25px;
 }
 .accordion-body{
   background-color: #8ea484;
   font: 20px Calibri;
   font-style: italic;
 }
.accordion-button:hover{
  background-color: #16542e;
  color:white;
}
.accordion-button:not(.collapsed) {
    background-color: #16542e;
    color: white;
    border:none;
    box-shadow: none;
}
.faqBottom{
  border: 3px solid #16542e;
  font-family:Graduate;
  font-size: 15px;
  text-align:center;
  margin-top:15px;
  padding-top:5px;
  padding-top:5px;
}

.faqHome{
  border: 3px solid #16542e;
  font-family:Graduate;
  color: white;
  font-size: 25px;
  text-align:center;
  margin-top:15px;
  padding-top:5px;
  padding-top:5px;
}

